.cursor {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;

    width: 20px;
    height: 20px;
    border: 2px solid $payne-gray;
    border-radius: 50%;
    background-color: rgba($night, 0.5);
}