.button {
    background-image: linear-gradient(to right, #007a25, #09852e, #1dd153, #007a25);
    background-size: 200%;
    animation: $shine;
    color: $white;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 600;
    transition: $transition-default;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0px;
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: none;

    &:hover {
        scale: 1.03;
        box-shadow: rgba(0, 0, 0, 0.25) 0 5px 15px 2px;
    }
    
}